[submodule "LT-2"]
	path = LT-2
	url = https://github.com/CNNOM/LT-2.git
[submodule "LT-3"]
	path = LT-3
	url = https://github.com/CNNOM/LT-3.git
[submodule "LT-0"]
	path = LT-0
	url = https://github.com/CNNOM/LT-0.git
[submodule "LT-1"]
	path = LT-1
	url = https://github.com/CNNOM/LT-1.git
[submodule "LT-4"]
	path = LT-4
	url = https://github.com/CNNOM/LT-4.git
